name: SerialPortRx CI-BuildOnly

on:
  pull_request:
    branches: [ "master" ]

jobs:
  ci-build-and-test:

    runs-on: windows-2025
    outputs:
      nbgv: ${{ steps.nbgv.outputs.SemVer2 }}
    steps:
        
    - name: Checkout
      uses: actions/checkout@v6
      with:
       fetch-depth: 0 # avoid shallow clone so nbgv can do its work.

    - name: Setup .NET (With cache)
      uses: actions/setup-dotnet@v5.0.0
      with:
        dotnet-version: |
            8.0.x
            9.0.x
            10.0.x
        dotnet-quality: 'preview'
        cache: true
        cache-dependency-path: |
          **/Directory.Packages.props
          **/*.sln
          **/*.csproj
          **/global.json
          **/nuget.config

    - name: NBGV
      id: nbgv
      uses: dotnet/nbgv@master
      with:
        setAllVars: true

    - run: echo 'SemVer2=${{ steps.nbgv.outputs.SemVer2 }}'

    - name: NuGet Restore
      run: dotnet restore SerialPortRx.sln
      working-directory: src

    - name: Build
      run: dotnet build --no-restore --configuration Release SerialPortRx.sln
      working-directory: src

    - name: Create NuGet Artifacts
      uses: actions/upload-artifact@master
      with:
        name: nuget
        path: '**/*.nupkg'
